@tailwind base;
@tailwind components;
@tailwind utilities;

label.form-entry {
	@apply inline-block mb-2 text-gray-700;
}

input.form-entry {
	@apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

small.form-entry {
	@apply block mt-1 text-xs text-gray-600 px-3 py-1.5;
}

button.save-btn {
	@apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}